html {
  box-sizing: border-box;
  font-family: "Patua One", sans-serif;
  line-height: 1.5;
  background-color: #f2f1ed;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 0;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  position: relative;
}

h1 {
  display: flex;
  float: left;
}

nav {
  position: absolute;
  top: 5%;
  right: 10%;
}

.logo {
  position: absolute;
  bottom: 30%;
  left: 5%;
  width: 14rem;
}

li {
  list-style-type: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
}

a {
  color: #fff;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

h2 {

  color: #30658d;
  margin-bottom: 0;
}

p {
  color: #000;
  margin: 0;
}
